* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    text-decoration: none !important;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




/* The side navigation menu */
.sidenav {
    height: 100%;
    text-align: center;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #000000;
}
#menu-icon{

}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* navbar start */




.navbar_nav {

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: transparent;
  

}

.auxd-heading {
    font-weight: 500;
font-size: 30px;
line-height: 45px;

letter-spacing: 0.1em;

color: #FFFFFF;
}

.nav-position {
    height: 76px;
 
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
}
.fa-braille {
    color: white;
    margin-left: 2%;
    font-size: 25px;

}

.navbar-section {
    background-color: #276EFF;
    height: 600px;

}

.nav-btn {
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 12px 20px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    text-transform: uppercase;

    color: #FFFFFF
}



.banner h1{
    padding-top: 200px;
    color: white;
}

/* navbar end */

/* service section */

.services_section {
    height: 660px;
    background: #231F20;
    padding-top: 50px;
}

.services_content p {

    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    width: 80%;
}

.services_info p {
    font-weight: 400 ; 
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.technical_experience {
    margin: 50px 0px;
}

.market_experience {
    margin: 60px 0px;
}
.all_services{
   margin-top: 50px;
}

.services_link a {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #81DCD0;
    text-decoration: none;
}

.services_link a:hover {
    color: #81DCD0;
}

@media screen and (max-width:1000px) {
    .services_content p {
        text-align: initial;
        color: aliceblue;
        width: 100%;
    }

    .services_link {
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) {
    .services_link a {

        line-height: 36px;

    }

    .services_info p {

        line-height: 36px;

    }
}






@media screen and (max-width: 414px) {
    .container_box {
        display: grid;
        grid-template-columns: 200px;
        text-align: center;
        justify-content: center;
    }

    .container_box .item1 {
        height: 100px;
        width: 100%;
    }

}

/* portfolio_projects */

.all_projects_mob{
   display: none;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;

   text-decoration-line: underline;

   color: #276EFF;
}

.portfolio_section_heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;

    color: #231F20;

}

.portfolio_projects img {
    width: 89%;
}

.project_category {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #231F20;
    opacity: 0.5;
}

.project_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #231F20;

}


.all_projects a {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    text-decoration-line: underline;

    color: #276EFF;
}

@media screen and (max-width:500px) {
    .portfolio_projects {
        text-align: center;
    }

    .all_projects {
        margin: 20px 20px;
    }
}


/* companies and fastest growing section */

.companies_heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;

    color: #231F20
}


.box1 {
    width: 87%;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    height: 250px;

}

@media screen and (max-width:800px) {
    .box1 {
        margin: 20px 0px !important;
        width: 100%;
    }
    
}


/* end companies and fastest growing section */

/*contact-sectionstart */

.contact_section {

    height: 530px;
    background: rgba(39, 110, 255, 0.2);
    padding: 1px;

}

.contact_section h3 {
    margin-left: 36px;
    margin-top: 60px;
    font-family: sans-serif;
    font-weight: bold;
}

.email {
    width: 65%;
    height: 30px;
    margin-left: 4%;
    margin-top: 20px;
    border: none;
    background-color:white;
    border-radius: 5px;

}

.message_textarea {

    width: 65%;
    height: 170px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-top: 30px;
    margin-left: 4%;
    background-color:white;

    
}

.contact-btn {
    width: 25%;
    height: 45px;
    background-color:black;
    border-radius: 100px;
    color:white;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    font-size: 12px;
    font-weight: bold;

}
.inquiries{
    margin-left: -5%;
}
.General-head{
margin-top: 150px;
font-family:sans-serif;
font-weight:600 !important; 
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
}
.Contact-info{
margin-top: 30px;
}
.Contact-info a{
display: list-item;
font-size: 18px;
}
@media screen and (max-width:950px) {
    .email {
        width: 100%;
    }

    .message_textarea {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .contact-btn {
        width: 50% !important;
    }

    .contact_section h1 {
        margin-left: 20px;
        margin-top: 40px;
        font-family: sans-serif;
    }

}
@media screen and (max-width:400px){
    .contact_section{
        height: auto;
    }
    .contact_section h3 {
        margin-left: 20px;
    } .Contact-info{
        text-align: center;
    }
    .inquiries h2{
        margin-left: 70px;
    }
    .inquiries{
        margin-left: 0%;
    }
    .Contact-info a{
    display: block !important;
     font-size: 15px;
}
.Contact-info{
    margin-bottom: 20px !important;
}
   
}

/* contact-section end */

/* footer-section start */

.footer-section {
    background-color: black;
    height: auto;
}

.footer-h1 {
    color: white;

}

.footer-p {
    color: rgba(255, 255, 255, 0.842);
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    font-size: 1.3rem;
    color: #81DCD0;
    margin: 0 20px;

}

.menu-items li a {
    text-decoration: none;
    color: #81DCD0;
}

.service-items {
    order: 2;
    display: flex;
}

.service-items li {
    list-style: none;
    color: #cccccc73;
    margin: 0 20px;
}

.footer_content {
    margin-left: 46px;
}

@media screen and (max-width:482px) {
    .menu-items {

        flex-direction: column;

    }

    .service-items {
        flex-direction: column;
    }
    .companies_heading{
        font-size: 35px;
    }

 

}

@media screen and (max-width:1002px) {
  .all_projects{
    display: none;
  }
  .all_projects_mob{
    display: block;
  }
 

}