* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

p{
    font-family: SuisseIntl-Regular,Helvetica,Arial,sans-serif;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    text-align: center;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #000000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* navbar start */




.navbar_nav {

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    backdrop-filter: blur(5px);
  

}
.nav-position {
    height: 76px;
 
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
}
.fa-braille {
    color: white;
    margin-left: 2%;
    font-size: 25px;

}

.navbar-section {
    background-color: #81DCD0;
    height: auto;

}

.nav-btn {
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 8px 20px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    text-transform: uppercase;

    color: #FFFFFF
}
.nav-btn:hover{
    color:#fff !important
}

.banner h1{
    padding-top: 200px;
    color: white;
}

/* navbar end */
.contact_section {

    height: 500px;
    background-color: #81DCD0;
    padding: 1px;

}

.contact_section h1 {
    margin-left: 49px;
    margin-top: 40px;
    font-family: sans-serif;
}

.email {
    width: 30%;
    height: 30px;
    margin-left: 4%;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.048);
}

.message_textarea {

    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: 30px;
    margin-left: 4%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.048);
}

.contact-btn {
    width: 12%;
    height: 40px;
    background-color: white;
    border-radius: 100px;
    color: #231F20;
    margin-top: 30px;
    border: none;
    font-size: 12px;
    font-weight: bold;

}
.error{
    color: red;
    margin: 0px;
}
@media screen and (max-width:950px) {
    .email {
        width: 70%;
    }

    .message_textarea {
        width: 70%;
    }
}

@media screen and (max-width:800px) {
    .contact-btn {
        width: 50% !important;
    }

    .contact_section h1 {
        margin-left: 20px;
        margin-top: 40px;
        font-family: sans-serif;
    }

}
.footer-section {
    background-color: black;
    height: auto;
}

.footer-h1 {
    color: white;

}

.footer-p {
    color: rgba(255, 255, 255, 0.842);
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    font-size: 1.3rem;
    color: #81DCD0;
    margin: 0 20px;

}

.menu-items li a {
    text-decoration: none;
    color: #81DCD0;
}

.service-items {
    order: 2;
    display: flex;
}

.service-items li {
    list-style: none;
    color: #cccccc73;
    margin: 0 20px;
}

.footer_content {
    margin-left: 46px;
}

@media screen and (max-width:482px) {
    .menu-items {

        flex-direction: column;

    }

    .service-items {
        flex-direction: column;
    }
    .companies_heading{
        font-size: 35px;
    }

 

}

@media screen and (max-width:1002px) {
  .all_projects{
    display: none;
  }
  .all_projects_mob{
    display: block;
  }
 

}